<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareAction.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ShareURL.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dCollector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>sharetest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB61D38C1EC041CD00FA0633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB7783111EB89EEA004C132E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB77832C1EB89F2E004C132E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB7783401EB8A0EA004C132E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB7783531EB8A77E004C132E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
