<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>326958370311-ng51pcdedbk2teq1raea2b466h9uagll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326958370311-ng51pcdedbk2teq1raea2b466h9uagll</string>
	<key>API_KEY</key>
	<string>AIzaSyAe0KPPCgwrGt2LVMdZH5XS0EleSEhyjyk</string>
	<key>GCM_SENDER_ID</key>
	<string>326958370311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KazukiSugita.dCollectorApp</string>
	<key>PROJECT_ID</key>
	<string>dcollector-ca121</string>
	<key>STORAGE_BUCKET</key>
	<string>dcollector-ca121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:326958370311:ios:cf69b5c4ea157a98</string>
	<key>DATABASE_URL</key>
	<string>https://dcollector-ca121.firebaseio.com</string>
</dict>
</plist>